services:
	- App\Core\RouterFactory::createRouter
	- App\Model\Repository\Product\ProductRepository
	- App\Model\Persister\Product\ProductPersister
	- Kdyby\DateTimeProvider\Provider\CurrentProvider

search:
	-	in: %appDir%
		classes:
			- *Factory
			- *Facade
